<mat-toolbar color="primary" class="main-toolbar">
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="toggleDrawer()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <!-- <span class="toolbar-title">Process Manager</span> -->
  <span class="app-title">Workflow Manager</span>
  <span class="spacer"></span>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav" [opened]="false">

    <div class="sidenav-header">
      <span class="app-title">Dashbord</span>
    </div>

    <app-navigation></app-navigation>
  </mat-sidenav>

  <mat-sidenav-content>
    <main class="main-content">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
